body {
    margin: 0px;

}

#container {

    width: 298px;
    height: 552px;
    margin: 50px auto 0 auto;
}

.background-console {
    background-color: #4A5BBE;
}

#div-superior {
    box-shadow: inset 0px 0px 3px 4px rgba(35, 37, 157, 1);
    height: 258px;
    border-radius: 25px 25px 15px 15px;
}

#div-inferior {
    height: 295px;
    border-radius: 15px 15px 25px 25px;
    box-shadow: inset 0px 0px 3px 4px rgba(35, 37, 157, 1);
}

#div-central {
    margin: auto;
    border-radius: 16px;
    height: 35px;
    background: linear-gradient(to bottom, #150480 0%, #8fc6fb 83%, #8fc6fb 90%, #150480 100%);
    width: 290px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 9px 4px -4px rgba(67, 82, 173, 1);
}

#div-central-1 {
    width: 25px;
    border-right: 1px solid black;

}

#div-central-2 {
    width: 118px;
    border-top: 1px #6E94E1 solid;
}

#div-central-3 {
    width: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#div-central-4 {
    width: 17px;
    border-top: 1px #6E94E1 solid;
}

#div-central-5 {
    border-left: solid 1px black;
}


/* CONTENIDO DE LA ZONA SUPERIOR */

#circles-c {
    height: 32px;
    display: flex;
}

.big-circle {
    width: 23px;
    height: 23px;
    border-radius: 23px;
    background: linear-gradient(to right, rgba(143, 198, 251, 1) 0%, rgba(21, 4, 128, 1) 42%, rgba(21, 4, 128, 1) 100%);
    margin: 6px 0 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-circle-int {
    width: 20px;
    height: 20px;
    background-color: #251CAD;
    border-radius: 25px;
    box-shadow: inset -1px 0px 5px 0px rgba(40, 37, 102, 1);
}

#big-c-position {
    margin-left: 18px;
}

#small-circle {
    background-color: rgba(35, 37, 157, 1);
    height: 15px;
    width: 15px;
    border-radius: 25px;
    margin: 10px 100px 0 100px;
}

#m-screen {
    background-color: #333333;
    width: 246px;
    height: 187px;
    margin: auto;
    border: 1px solid #404A87;
}

#screen {
    margin: 14px 13.5px 0 13.5px;
}

#screen-text {
    width: 125px;
    height: 10px;
    margin-left: 60px;
}

#circles-2-c {
    display: flex;
    flex-direction: row;
}

.s-c {
    width: 18px;
    height: 18px;
    border-radius: 23px;
    background: linear-gradient(to right, rgba(143, 198, 251, 1) 0%, rgba(21, 4, 128, 1) 42%, rgba(21, 4, 128, 1) 100%);
    margin: 11px 0 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-c-i {
    width: 15px;
    height: 15px;
    background-color: #251CAD;
    border-radius: 25px;
    box-shadow: inset -1px 0px 5px 0px rgba(40, 37, 102, 1);
}

#sc-pos {
    margin-left: 18px;
    margin-right: 227px;
}

/* Contenido zona inferior */

#div-s-1 {
    margin-top: 21px;
    height: 31px;
    display: flex;
    flex-direction: row;
}

#s-1-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 134.5px;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background: linear-gradient(to bottom, rgba(143, 198, 251, 1) 0%, rgba(21, 4, 128, 1) 62%, rgba(21, 4, 128, 1) 100%);
}

#s-1-int-circle {
    box-shadow: inset 0px 9px 0px -8px rgba(64, 74, 135, 1);
    border-radius: 25px;
    height: 12px;
    width: 12px;
    background-color: #596086;
}

/* LED */

#led-cont {
    margin-left: 125px;
}

#led1 {
    height: 9px;
    width: 9px;
    background-color: #4D4F4C;
    margin-top: 3px;
}

#led2 {
    height: 9px;
    width: 9px;
    background-color: #4D4F4C;
    margin-top: 9px;
}


/* BUTTONS */

#buttons-c-c {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-left: 25px;
    border-radius: 90px;
    width: 99px;
    height: 99px;
    background: linear-gradient(to bottom, rgba(143, 198, 251, 1) 0%, rgba(21, 4, 128, 1) 62%, rgba(21, 4, 128, 1) 100%);
}

#buttons-c {
    width: 85px;
    height: 85px;
    background-color: #4A5BBE;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#b-circle {
    border-radius: 90px;
    width: 69px;
    height: 67px;
    overflow-y: hidden;
}



#c-b-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#c-b-c-p {
    display: flex;
    flex-direction: row;
}


#b-superior {
    background-color: #7D7D7D;
    width: 23px;
    height: 22.3px;
    display: flex;
    justify-content: center;
}

#b-circle-t {
    margin-top: 3px;
    width: 6px;
    height: 6px;
    background-color: #585A58;
    border-radius: 25px;
}

#b-circle-l {
    margin-left: 3px;
    width: 6px;
    height: 6px;
    background-color: #585A58;
    border-radius: 25px;
}


.centered-butons {
    height: 22.3px;
    width: 33.4%;
    background-color: #7D7D7D;
    display: flex;
    align-items: center;
}

#centered-butons-center {
    width: 33.4%;
    height: 22.3px;
    background-color: #7D7D7D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c-b-c-b {
    background-color: #9A9A9A;
    border-radius: 40px;
    height: 20px;
    width: 20px;
}

#b-circle-c {
    margin-left: 14px;
    width: 6px;
    height: 6px;
    background-color: #585A58;
    border-radius: 25px;
}

#inf-but-pos {
    display: flex;
    justify-content: center;
}

#inf-button {
    background-color: #7D7D7D;
    width: 23px;
    height: 22.3px;
    display: flex;
    justify-content: center;
}

#c-b-c-i {
    margin-top: 13px;
    width: 6px;
    height: 6px;
    background-color: #585A58;
    border-radius: 25px;
}

#controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Boton a y b */

#a-b-container-c {
    width: 97px;
    height: 47px;
    background: linear-gradient(to bottom, rgba(143, 198, 251, 1) 0%, rgba(21, 4, 128, 1) 62%, rgba(21, 4, 128, 1) 100%);
    border-radius: 25px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a-b-container {
    background-color: #4A5BBE;
    width: 89px;
    height: 39px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.a-b-button {
    height: 31px;
    width: 31px;
    background-color: #7D7D7D;
    border-radius: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585A58;
}

#margin {
    margin-left: 5px;
    margin-right: 0;
}

#points-container {
    display: flex;
    justify-content: center;
}

#points {
    margin-top: -9px;
    margin-left: 12px;
    width: 60px;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.circle-point {
    background-color: #333333;
    border-radius: 25px;
    height: 5px;
    width: 5px;
}


/* boton select y start */

#sel-start-pos {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 18px;
}

.sel-start-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-st-sel {
    color: #131F9B;
    font-size: 7px;
    margin: 0 0 2px 0;
}

.gradient-c {
    display:
        flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 42px;
    width: 42px;
    background: linear-gradient(to bottom, rgba(143, 198, 251, 1) 0%, rgba(21, 4, 128, 1) 62%, rgba(21, 4, 128, 1) 100%);
}

.normal-s-c {
    height: 33px;
    width: 33px;
    background-color: #4A5BBE;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-s-button {
    width: 19px;
    height: 19px;
    background-color: #7D7D7D;
    border-radius: 25px;
}

#m-butons-s-s {
    margin-left: 11px;
}